<style>
  [type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    border: 2px solid white;
  }

  [type="checkbox"]:checked + label:before {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
</style>
<% 
if params.key? 'vmid'
  vmid = params['vmid']
end
snapshots = Snapshot.discover(vmid)
%>
<% unless snapshots.empty? %>
<table class="">
  <thead>
    <tr>
      <th>Snapshot name</th>
      <th>UUID</th>
      <th>Select?</th>
      </tr>
  </thead>
  <tbody>
    <% snapshots.reverse.each do |snapshot| %>
    <tr>
      <td><%= snapshot.name %></td>
      <td><%= snapshot.uuid %></td>
      <td><%= %>
        <%= check_box_tag "snapshot_ids[#{snapshot.uuid}]", "snapshot[#{snapshot.uuid}]", false %>
      <!--<input type="checkbox" id="<%= snapshot.nickname%>-delete" />-->
      <label for="snapshot_ids_<%= snapshot.uuid %>"></label></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
This machine doesn't have any snapshots created by Template Manager
<% end %>